{% extends "base.html" %}
{% block title %}Results | Precision Teaching Center{% endblock %}
{% block main %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="/static/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
	<script type="text/javascript">
		var right = [];
		var wrong = [];
		{% for score in scores %}
			right[{{ forloop.counter0 }}] = [{{ forloop.counter0 }}, {{ score.correct }}];
			wrong[{{ forloop.counter0 }}] = [{{ forloop.counter0 }}, ({{ score.total }}-{{ score.correct }})];
		{% endfor %}
		 $(function () {
			 $.plot($("#placeholder"),
			 [ { data: right, label: "Right" },
			   { data: wrong, label: "Wrong" }],
			 { 
			   xaxis: { min: 0,
			//	transform: function (v) { return Math.log(v); },
			//	inverseTransform: function (v) { return Math.exp(v); },
			   },
			   yaxis: {     
				min: 0 
				},
			   legend: { position: 'sw' } });
				});
	</script>
	<div style="margin: 0 auto; text-align:center;">
		<div id="placeholder" style="width:600px;height:300px;"></div>
	</div>
	<div style="text-align:center;">
		<a href="../" style="text-decoration:none;">
			<input type="button" value="Continue" />
		</a>
	</div>
{% endblock %}
